fastapi
uvicorn
langchain
langchain-openai
langchain-community
openai
sqlalchemy
psycopg2-binary
pgvector
presidio-analyzer
presidio-anonymizer
spacy
python-dotenv
pypdf
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl